.idea
*.hdf5
*.egg-info
__pycache__
*.pyc
res*
dist
build
.swp
.ipynb_checkpoints
htmlcov
.coverage
main.py 
Makefile
MANIFEST.in 
pycov.ini 
pytest.ini
tests/
.pytest_cache/
docs/
venv/
requirements-dev.txt
